{% extends 'layouts/base.html' %}
{% block content %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-5">
          <h6 class="h2 text-white d-inline-block mb-0">Evaluación CDR - Participante</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <form method="post" action="{% url 'guardar_examen_Participante_CDR' %}">
          {% csrf_token %}
          <input type="hidden" name="visita_id" value="{{ visita_examen }}">
          <input type="hidden" name="paciente_id" value="{{ paciente_id }}">
          <input type="hidden" name="examen_id" value="{{ examen_id }}">

          <div class="alert alert-info">
            <strong>Instrucciones:</strong> Evaluación clínica de demencia. Responda las siguientes preguntas sobre su comportamiento.
          </div>

          <!-- Navegación por pestañas -->
          <ul class="nav nav-pills nav-fill mb-4" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#memoria">Memoria</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#orientacion">Orientación</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#juicio">Juicio y resolución de problemas</a></li>
          </ul>

          <div class="tab-content">

            <!-- PESTAÑA: Memoria -->
            <div class="tab-pane fade show active" id="memoria">
              <div class="card bg-gradient-default shadow-sm mb-4">
                <div class="card-header bg-transparent"><h4 class="text-white mb-0">Dominio: Memoria</h4></div>
                <div class="card-body bg-white">
                  
                  <div class="form-group">
                    <label>1. ¿Tiene usted problemas con su memoria o pensamiento?</label>
                    <select class="form-control" name="memoria_p1" required>
                      {% if datos_examen.memoria_p1 %}
                        <option value="{{ datos_examen.memoria_p1 }}" selected>
                          {{ datos_examen.memoria_p1 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione</option>
                      {% endif %}
                      <option value="si">Sí</option>
                      <option value="no">No</option>
                    </select>
                  </div>

                  <!-- Pregunta 2 -->
                  <div class="form-group">
                    <label for="memoria_evento_reciente">
                      2. Hace algunos momentos su (cónyuge, etc.) me contó acerca de algunas de sus experiencias 
                      recientes. ¿Me podría Ud. contar algo acerca de esas experiencias?
                    </label>
                    <p class="text-muted" style="margin-bottom: 8px;">
                      (Incitar al sujeto para que dé detalles, si fueren necesarios, tales como lugar del evento, hora del día, participantes, cuánto duró el evento, cuándo terminó y cómo llegaron hasta ahí el sujeto o los otros participantes).
                    </p>
                    <!-- Subpreguntas -->
                    <div class="mt-3 ml-3">
                      <label>En el curso de una semana</label>
                      <textarea class="form-control mb-2" name="evento_recuerda_semana" id="evento_recuerda_semana"  rows="3" required>{{ datos_examen.evento_recuerda_semana}}</textarea>
                      <select class="form-control mb-4" name="memoria_semana_calificacion" required>
                        {% if datos_examen.memoria_semana_calificacion %}
                        <option value="{{ datos_examen.memoria_semana_calificacion }}" selected>
                          {{ datos_examen.memoria_semana_calificacion }}
                        </option>
                        {% else %}
                        <option value="" disabled selected>Seleccione</option>
                        {% endif %}
                        <option value="1">1.0: Mayormente correcto</option>
                        <option value="0.5">0.5: Parcialmente correcto</option>
                        <option value="0">0.0: Mayormente incorrecto</option>
                      </select>

                      <label>En el curso de un mes</label>
                      <textarea class="form-control mb-2" name="evento_recuerda_mes" id="evento_recuerda_mes"  rows="3" required>{{ datos_examen.evento_recuerda_mes}}</textarea>
                      <select class="form-control" name="memoria_mes_calificacion" required>
                        {% if datos_examen.memoria_mes_calificacion %}
                        <option value="{{ datos_examen.memoria_mes_calificacion }}" selected>
                          {{ datos_examen.memoria_mes_calificacion }}
                        </option>
                        {% else %}
                        <option value="" disabled selected>Seleccione</option>
                        {% endif %}
                        <option value="1">1.0: Mayormente correcto</option>
                        <option value="0.5">0.5: Parcialmente correcto</option>
                        <option value="0">0.0: Mayormente incorrecto</option>
                      </select>
                    </div>
                  </div>

                  <!-- Pregunta 3 -->
                  <div class="form-group mt-4">
                    <label>
                      3. Le voy a dar un nombre y una dirección para que Ud. recuerde por unos minutos. Repita este nombre 
                      y dirección después de mí:
                    </label>
                    <p class="text-muted mb-2">
                      (Repetir hasta que la frase sea correctamente repetida o hasta un máximo de 3 ensayos).
                    </p>

                    <!-- Ensayo 1 -->
                    <div class="mb-3">
                      <label><strong>Ensayo 1:</strong></label><br>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label mr-3">
                          Juan <input class="form-check-input ml-1" type="checkbox" name="ensayo1_juan" {% if datos_examen.ensayo1_juan %}checked{% endif %}>
                        </label>
                        <label class="form-check-label mr-3">
                          Pérez <input class="form-check-input ml-1" type="checkbox" name="ensayo1_perez" {% if datos_examen.ensayo1_perez %}checked{% endif %}>
                        </label>
                        <label class="form-check-label mr-3">
                          Calle 42 <input class="form-check-input ml-1" type="checkbox" name="ensayo1_calle" {% if datos_examen.ensayo1_calle %}checked{% endif %}>
                        </label>
                        <label class="form-check-label mr-3">
                          Avenida Boyacá <input class="form-check-input ml-1" type="checkbox" name="ensayo1_avenida" {% if datos_examen.ensayo1_avenida %}checked{% endif %}>
                        </label>
                        <label class="form-check-label">
                          Cali <input class="form-check-input ml-1" type="checkbox" name="ensayo1_cali" {% if datos_examen.ensayo1_cali %}checked{% endif %}>
                        </label>
                      </div>
                    </div>

                    <!-- Ensayo 2 -->
                    <div class="mb-3">
                      <label><strong>Ensayo 2:</strong></label><br>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label mr-3">
                          Juan <input class="form-check-input ml-1" type="checkbox" name="ensayo2_juan" {% if datos_examen.ensayo2_juan %}checked{% endif %}>
                        </label>
                        <label class="form-check-label mr-3">
                          Pérez <input class="form-check-input ml-1" type="checkbox" name="ensayo2_perez" {% if datos_examen.ensayo2_perez %}checked{% endif %}>
                        </label>
                        <label class="form-check-label mr-3">
                          Calle 42 <input class="form-check-input ml-1" type="checkbox" name="ensayo2_calle" {% if datos_examen.ensayo2_calle %}checked{% endif %}>
                        </label>
                        <label class="form-check-label mr-3">
                          Avenida Boyacá <input class="form-check-input ml-1" type="checkbox" name="ensayo2_avenida" {% if datos_examen.ensayo2_avenida %}checked{% endif %}>
                        </label>
                        <label class="form-check-label">
                          Cali <input class="form-check-input ml-1" type="checkbox" name="ensayo2_cali" {% if datos_examen.ensayo2_cali %}checked{% endif %}>
                        </label>
                      </div>
                    </div>

                    <!-- Ensayo 3 -->
                    <div class="mb-3">
                      <label><strong>Ensayo 3:</strong></label><br>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label mr-3">
                          Juan <input class="form-check-input ml-1" type="checkbox" name="ensayo3_juan" {% if datos_examen.ensayo3_juan %}checked{% endif %}>
                        </label>
                        <label class="form-check-label mr-3">
                          Pérez <input class="form-check-input ml-1" type="checkbox" name="ensayo3_perez" {% if datos_examen.ensayo3_perez %}checked{% endif %}>
                        </label>
                        <label class="form-check-label mr-3">
                          Calle 42 <input class="form-check-input ml-1" type="checkbox" name="ensayo3_calle" {% if datos_examen.ensayo3_calle %}checked{% endif %}>
                        </label>
                        <label class="form-check-label mr-3">
                          Avenida Boyacá <input class="form-check-input ml-1" type="checkbox" name="ensayo3_avenida" {% if datos_examen.ensayo3_avenida %}checked{% endif %}>
                        </label>
                        <label class="form-check-label">
                          Cali <input class="form-check-input ml-1" type="checkbox" name="ensayo3_cali" {% if datos_examen.ensayo3_cali %}checked{% endif %}>
                        </label>
                      </div>
                    </div>
                  </div>


                  <!-- Pregunta 4 -->
                  <div class="form-group mt-4">
                    <label for="fecha_nacimiento">4. ¿Cuándo nació?</label>
                    <input type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" value="{{ datos_examen.fecha_nacimiento|date:'Y-m-d' }}" required>
                  </div>

                  <!-- Pregunta 5 -->
                  <div class="form-group">
                    <label for="lugar_nacimiento">5. ¿Dónde nació?</label>
                    <input type="text" class="form-control" name="lugar_nacimiento" id="lugar_nacimiento" value="{{ datos_examen.lugar_nacimiento|default_if_none:'' }}" required>
                  </div>

                  <!-- Pregunta 6 -->
                  <div class="form-group">
                    <label>6. ¿Cuál fue el último colegio al que asistió?</label>
                    <div class="ml-3 mt-2">
                      <label for="colegio_nombre">Nombre:</label>
                      <input type="text" class="form-control mb-2" name="colegio_nombre" value="{{ datos_examen.colegio_nombre|default_if_none:'' }}" required>

                      <label for="colegio_lugar">Lugar:</label>
                      <input type="text" class="form-control mb-2" name="colegio_lugar" value="{{ datos_examen.colegio_lugar|default_if_none:'' }}" required>

                      <label for="colegio_grado">Grado:</label>
                      <input type="text" class="form-control" name="colegio_grado" value="{{ datos_examen.colegio_grado|default_if_none:'' }}" required>
                    </div>
                  </div>

                  <!-- Pregunta 7 -->
                  <div class="form-group">
                    <label for="ocupacion_principal">7. ¿Cuál era su principal ocupación/trabajo o la de su cónyuge, si Ud. no estaba empleado/a?</label>
                    <input type="text" class="form-control" name="ocupacion_principal" id="ocupacion_principal"  value="{{ datos_examen.ocupacion_principal|default_if_none:'' }}" required>
                  </div>

                  <!-- Pregunta 8 -->
                  <div class="form-group">
                    <label for="ultimo_trabajo">8. ¿Cuál fue su último trabajo importante (o el de su cónyuge, si Ud. no estaba empleado/a)?</label>
                    <input type="text" class="form-control" name="ultimo_trabajo" id="ultimo_trabajo" value="{{ datos_examen.ultimo_trabajo|default_if_none:'' }}" required>
                  </div>

                  <!-- Pregunta 9 -->
                  <div class="form-group">
                    <label for="jubilacion">9. ¿Cuándo se jubiló (o su cónyuge) y por qué?</label>
                    <textarea class="form-control" name="jubilacion" id="jubilacion"   rows="3" required>{{ datos_examen.jubilacion }}</textarea>
                  </div>

                  <!-- Pregunta 10 -->
                  <div class="form-group">
                    <label>
                      10. Repita el nombre y la dirección que le pedí que recuerde:
                    </label>
                    <p class="text-muted mb-2">(Seleccionar los elementos repetidos correctamente)</p>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label mr-3">
                        Juan <input class="form-check-input ml-1" type="checkbox" name="repeticion_juan" {% if datos_examen.repeticion_juan %}checked{% endif %}>
                      </label>
                      <label class="form-check-label mr-3">
                        Pérez <input class="form-check-input ml-1" type="checkbox" name="repeticion_perez" {% if datos_examen.repeticion_perez %}checked{% endif %}>
                      </label>
                      <label class="form-check-label mr-3">
                        Calle 42 <input class="form-check-input ml-1" type="checkbox" name="repeticion_calle" {% if datos_examen.repeticion_calle %}checked{% endif %}>
                      </label>
                      <label class="form-check-label mr-3">
                        Avenida Boyacá <input class="form-check-input ml-1" type="checkbox" name="repeticion_avenida" {% if datos_examen.repeticion_avenida %}checked{% endif %}>
                      </label>
                      <label class="form-check-label">
                        Cali <input class="form-check-input ml-1" type="checkbox" name="repeticion_cali" {% if datos_examen.repeticion_cali %}checked{% endif %}>
                      </label>
                    </div>
                  </div>

                  <!-- Botón para siguiente pestaña -->

                  <div class="text-right mt-4">
                    <button type="button" class="btn btn-outline-primary btn-next" data-next="#orientacion">Siguiente sección</button>
                    <a href="{% url 'detalle_paciente' paciente_id %}" class="btn btn-secondary">Ver Paciente</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- PESTAÑA: Orientación -->
            <div class="tab-pane fade" id="orientacion">
              <div class="card bg-gradient-default shadow-sm mb-4">
                <div class="card-header bg-transparent"><h4 class="text-white mb-0">Dominio: Orientación</h4></div>
                <div class="card-body bg-white">

                  <div class="form-group">
                    <label>1. ¿Qué fecha es hoy?</label>
                    <select class="form-control" name="orientacion_p1"required>
                      {% if datos_examen.orientacion_p1 %}
                        <option value="{{ datos_examen.orientacion_p1 }}" selected>
                          {{ datos_examen.orientacion_p1 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione una opción</option>
                      {% endif %}
                      <option value="Correcto">Correcto</option>
                      <option value="Incorrecto">Incorrecto</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>2. ¿Què día de la semana es hoy?</label>
                    <select class="form-control" name="orientacion_p2"required>
                      {% if datos_examen.orientacion_p2 %}
                        <option value="{{ datos_examen.orientacion_p2 }}" selected>
                          {{ datos_examen.orientacion_p2 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione una opción</option>
                      {% endif %}
                      <option value="Correcto">Correcto</option>
                      <option value="Incorrecto">Incorrecto</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>3. ¿En qué mes estamos?</label>
                    <select class="form-control" name="orientacion_p3" required>
                      {% if datos_examen.orientacion_p3 %}
                        <option value="{{ datos_examen.orientacion_p3 }}" selected>
                          {{ datos_examen.orientacion_p3 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione una opción</option>
                      {% endif %}
                      <option value="Correcto">Correcto</option>
                      <option value="Incorrecto">Incorrecto</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>4. ¿En qué año estamos?</label>
                    <select class="form-control" name="orientacion_p4" required>
                      {% if datos_examen.orientacion_p4 %}
                        <option value="{{ datos_examen.orientacion_p4 }}" selected>
                          {{ datos_examen.orientacion_p4 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione una opción</option>
                      {% endif %}
                      <option value="Correcto">Correcto</option>
                      <option value="Incorrecto">Incorrecto</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>5. ¿Cómo se llama este lugar?</label>
                    <select class="form-control" name="orientacion_p5" required>
                      {% if datos_examen.orientacion_p5 %}
                        <option value="{{ datos_examen.orientacion_p5 }}" selected>
                          {{ datos_examen.orientacion_p5 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione una opción</option>
                      {% endif %}
                      <option value="Correcto">Correcto</option>
                      <option value="Incorrecto">Incorrecto</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>6. ¿En qué pueblo o ciudad estamos?</label>
                    <select class="form-control" name="orientacion_p6" required>
                      {% if datos_examen.orientacion_p6 %}
                        <option value="{{ datos_examen.orientacion_p6 }}" selected>
                          {{ datos_examen.orientacion_p6 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione una opción</option>
                      {% endif %}
                      <option value="Correcto">Correcto</option>
                      <option value="Incorrecto">Incorrecto</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>7. ¿Qué hora es?</label>
                    <select class="form-control" name="orientacion_p7" required>
                      {% if datos_examen.orientacion_p7 %}
                        <option value="{{ datos_examen.orientacion_p7 }}" selected>
                          {{ datos_examen.orientacion_p7 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione una opción</option>
                      {% endif %}
                      <option value="Correcto">Correcto</option>
                      <option value="Incorrecto">Incorrecto</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>8. ¿Sabe el sujeto quién es el informante (según el criterio del entrevistador)? </label>
                    <select class="form-control" name="orientacion_p8" required>
                      {% if datos_examen.orientacion_p8 %}
                        <option value="{{ datos_examen.orientacion_p8 }}" selected>
                          {{ datos_examen.orientacion_p8 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione una opción</option>
                      {% endif %}
                      <option value="Correcto">Correcto</option>
                      <option value="Incorrecto">Incorrecto</option>
                    </select>
                  </div>

                  <div class="text-right mt-4">
                    <button type="button" class="btn btn-outline-primary btn-next" data-next="#juicio">Siguiente sección</button>
                    <a href="{% url 'detalle_paciente' paciente_id %}" class="btn btn-secondary">Ver Paciente</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- PESTAÑA: Juicio y resolución de problemas -->
            <div class="tab-pane fade" id="juicio">
              <div class="card bg-gradient-default shadow-sm mb-4">
                <div class="card-header bg-transparent">
                  <h4 class="text-white mb-0">Dominio: Juicio y resolución de problemas</h4>
                </div>
                <div class="card-body bg-white">

                  <!-- Pregunta 1 -->
                  <div class="form-group">
                    <label>1. ¿En qué se parecen un rábano y una coliflor?</label>
                    <p class="text-muted" style="margin-bottom: 8px;">
                      0: Verduras<br>
                      1: Alimentos comestibles, cosas que viven, se pueden cocinar, etc<br>
                      2: Respuestas no pertinentes; diferencias, que se compran
                    </p>
                    <input type="text" class="form-control mb-2" name="juicio_p1_respuesta" value="{{ datos_examen.juicio_p1_respuesta|default_if_none:'' }}"  required>
                    <select class="form-control" name="juicio_p1_puntaje" required>
                      {% if datos_examen.juicio_p1_puntaje %}
                        <option value="{{ datos_examen.juicio_p1_puntaje }}" selected>
                          {{ datos_examen.juicio_p1_puntaje }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione puntuación</option>
                      {% endif %}
                      <option value='0'>0: Verduras</option>
                      <option value='1'>1: Alimentos, cosas vivas, se pueden cocinar</option>
                      <option value='2'>2: Respuesta no pertinente, diferencias, que se compran</option>
                    </select>
                  </div>

                  <!-- Pregunta 2 -->
                  <div class="form-group">
                    <label>2. ¿En qué se parecen un escritorio y una estantería?</label>
                    <p class="text-muted" style="margin-bottom: 8px;">
                      0: Muebles, muebles de oficina, ambos sostienen libros<br>
                      1: Madera, patas<br>
                      2: Respuestas no pertinentes; diferencias
                    </p>
                    <input type="text" class="form-control mb-2" name="juicio_p2_respuesta" value="{{ datos_examen.juicio_p2_respuesta|default_if_none:'' }}" required>
                    <select class="form-control" name="juicio_p2_puntaje" required>
                      {% if datos_examen.juicio_p2_puntaje %}
                        <option value="{{ datos_examen.juicio_p2_puntaje }}" selected>
                          {{ datos_examen.juicio_p2_puntaje }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione puntuación</option>
                      {% endif %}
                      <option value="0">0: Muebles, sostienen libros</option>
                      <option value="1">1: Hechos de madera, tienen patas</option>
                      <option value="2">2: No pertinente, diferencias</option>
                    </select>
                  </div>

                  <!-- Pregunta 3 -->
                  <div class="form-group">
                    <label>3. ¿Cuál es la diferencia entre una mentira y una equivocación?</label>
                    <p class="text-muted" style="margin-bottom: 8px;">
                      0: Una es deliberada, la otra sin intención<br>
                      1: Una mala y la otra buena; o explica sólo una<br>
                      2: Cualquier otra cosa; semejanzas
                    </p>
                    <input type="text" class="form-control mb-2" name="juicio_p3_respuesta" value="{{ datos_examen.juicio_p3_respuesta|default_if_none:'' }}" required>
                    <select class="form-control" name="juicio_p3_puntaje" required>
                      {% if datos_examen.juicio_p3_puntaje %}
                        <option value="{{ datos_examen.juicio_p3_puntaje }}" selected>
                          {{ datos_examen.juicio_p3_puntaje }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione puntuación</option>
                      {% endif %}
                      <option value="0">0: Una es deliberada, la otra sin intención</option>
                      <option value="1">1: Una mala y la otra buena, o explica solo una</option>
                      <option value="2">2: Cualquier otra cosa; semejanzas</option>
                    </select>
                  </div>

                  <!-- Pregunta 4 -->
                  <div class="form-group">
                    <label>4. ¿Cuál es la diferencia entre un río y un canal?</label>
                    <p class="text-muted" style="margin-bottom: 8px;">
                      0: Natural - artificial<br>
                      2: Cualquier otra cosa
                    </p>
                    <input type="text" class="form-control mb-2" name="juicio_p4_respuesta" value="{{ datos_examen.juicio_p4_respuesta|default_if_none:'' }}"  required>
                    <select class="form-control" name="juicio_p4_puntaje" required>
                      {% if datos_examen.juicio_p4_puntaje %}
                        <option value="{{ datos_examen.juicio_p4_puntaje }}" selected>
                          {{ datos_examen.juicio_p4_puntaje }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione puntuación</option>
                      {% endif %}
                      <option value="0">0: natural - artificial</option>
                      <option value="2">2: Cualquier otra cosa</option>
                    </select>
                  </div>

                  <!-- Pregunta 5 -->
                  <div class="form-group">
                    <label>5. ¿Cuántos centavos hay en un peso?</label>
                    <p class="text-muted" style="margin-bottom: 8px;">
                      Respuesta: En 1 peso hay 100 centavos
                    </p>                  

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="juicio_p5" value="correcto"
                        {% if datos_examen.juicio_p5 == "correcto" %}checked{% endif %}>
                      <label class="form-check-label">Correcto</label>
                    </div>                  

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="juicio_p5" value="incorrecto"
                        {% if datos_examen.juicio_p5 == "incorrecto" %}checked{% endif %}>
                      <label class="form-check-label">Incorrecto</label>
                    </div>
                  </div>                  


                  <!-- Pregunta 6 -->
                <div class="form-group">
                  <label>6. ¿Cuántas monedas de 50 pesos hay en $1,350?</label>
                  <p class="text-muted" style="margin-bottom: 8px;">
                    Respuesta: Hay 27 monedas de 50 pesos en $1,350
                  </p>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="juicio_p6" value="correcto"
                      {% if datos_examen.juicio_p6 == "correcto" %}checked{% endif %}>
                    <label class="form-check-label">Correcto</label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="juicio_p6" value="incorrecto"
                      {% if datos_examen.juicio_p6 == "incorrecto" %}checked{% endif %}>
                    <label class="form-check-label">Incorrecto</label>
                  </div>
                </div>


                  <!-- Pregunta 7 -->
                <div class="form-group">
                  <label>7. Restar 3 de 20 y continuar hasta llegar a 2 o 1</label>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="juicio_p7" value="correcto"
                      {% if datos_examen.juicio_p7 == "correcto" %}checked{% endif %}>
                    <label class="form-check-label">Correcto</label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="juicio_p7" value="incorrecto"
                      {% if datos_examen.juicio_p7 == "incorrecto" %}checked{% endif %}>
                    <label class="form-check-label">Incorrecto</label>
                  </div>
                </div>


                  <!-- Pregunta 8 -->
                  <div class="form-group">
                    <label>8. Al llegar a una ciudad extraña, ¿cómo localizaría usted a un amigo?</label>
                    <p class="text-muted" style="margin-bottom: 8px;">
                      0: Intentaría con la guía de teléfonos, Internet, ir al juzgado para conseguir un directorio; llamas a un amigo en común<br>
                      1: Llamar a la policía, llamar a la operadora (generalmente no darán direcciones)<br>
                      2: No brinda una respuesta clara
                    </p>
                    <select class="form-control" name="juicio_p8_puntaje" required>
                      {% if datos_examen.juicio_p8_puntaje %}
                        <option value="{{ datos_examen.juicio_p8_puntaje }}" selected>
                          {{ datos_examen.juicio_p8_puntaje }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione puntuación</option>
                      {% endif %}
                      <option value="0">0: Guía telefónica, internet, amigo común</option>
                      <option value="1">1: Policía, operadora</option>
                      <option value="2">2: No brinda respuesta clara</option>
                    </select>
                  </div>

                  <!-- Pregunta 9 -->
                  <div class="form-group">
                    <label>9. Evaluación por parte del sujeto con respecto a su discapacidad y su posición social y comprensión de 
                      por qué se encuentra actualmente en el test (estos aspectos pueden ya estar cubiertos pero por favor 
                      dé su opinión personal aquí): </label>
                    <select class="form-control" name="juicio_p9" required>
                      {% if datos_examen.juicio_p9 %}
                        <option value="{{ datos_examen.juicio_p9 }}" selected>
                          {{ datos_examen.juicio_p9 }}
                        </option>
                      {% else %}
                      <option value="" disabled selected>Seleccione una opción</option>
                      {% endif %}
                      <option value="Buena percepción">Buena percepción</option>
                      <option value="Percepción parcial">Percepción parcial</option>
                      <option value="Poca percepción">Poca percepción</option>
                    </select>
                  </div>
                  
                  <div class="text-right mt-4">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'detalle_paciente' paciente_id %}" class="btn btn-secondary">Ver Paciente</a>
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- fin tab-content -->
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // --- BOTÓN "SIGUIENTE SECCIÓN" ---
    const botonesSiguiente = document.querySelectorAll(".btn-next");
    botonesSiguiente.forEach(boton => {
      boton.addEventListener("click", function () {
        const nextTabId = this.getAttribute("data-next");
        if (!nextTabId) return;

        document.querySelectorAll('.tab-pane').forEach(tab => tab.classList.remove('show', 'active'));
        document.querySelectorAll('.nav-link').forEach(link => link.classList.remove('active'));

        const nextTab = document.querySelector(nextTabId);
        const nextNav = document.querySelector(`a[data-toggle="tab"][href="${nextTabId}"]`);

        if (nextTab && nextNav) {
          nextTab.classList.add('show', 'active');
          nextNav.classList.add('active');
        }
      });
    });
  });
</script>




{% endblock %}