<table class="membrete-tabla">
  <tr>
    <td class="membrete-col membrete-col-izq">
      {% if logo_udea_path %}
      <img src="file://{{ logo_udea_path }}" alt="Universidad de Antioquia" class="logo-udea">
      {% endif %}
    </td>
    <td class="membrete-col membrete-col-centro">
      <p class="membrete-titulo">HISTORIA CLÍNICA ELECTRÓNICA</p>
      <p class="membrete-paciente">Sistema ATENEA - GRUNECO | Universidad de Antioquia</p>
    </td>
    <td class="membrete-col membrete-col-der">
      {% if logo_gruneco_path %}
      <img src="file://{{ logo_gruneco_path }}" alt="GRUNECO" class="logo-gruneco">
      {% endif %}
    </td>
  </tr>
</table>
